@if (FileModel is not null)
{
    <span title="@($"File:\"{FileModel.FileName}\" id:{FileModel.Guid}")"
          class="link file-item"
          @onmouseover='() => HoverText = Localizer["filebadge_delete"]'
          @onmouseout="() => HoverText = FileModel.FileName"
          @onclick="RemoveFile">
        <span class="bg">
            @{
                var selected = $"/fileformat/{Path.GetExtension(FileModel.FileName).TrimStart('.')}.png";
                var avatarPath = File.Exists("wwwroot/" + selected) ? selected : "/fileformat/blank.png";
                <img class="user-icon" src="@(avatarPath)" />
            }
            @HoverText (@(FormatBytes(FileModel.Size)))
        </span>
        @if (Path.GetExtension(FileModel.FileName) is ".png" or ".jpg" or ".jpeg" or ".gif")
        {
            <div class="file-preview">
                <img src="/attached-file/@FileModel.Guid" alt="Preview" />
            </div>
        }
    </span>
}
else
{
    <span title="File not exists or broken link" class="link grayed"
          @onmouseover='() => HoverText = Localizer["filebadge_delete"]'
          @onmouseout='() => HoverText = Localizer["filebadge_not_found"]'
          @onclick="RemoveFile">
        <span class="bg">
            <img class="user-icon" src="/fileformat/broken.png" />
            @HoverText
        </span>
    </span>
}

@code {
    private string HoverText { get; set; }

    protected override void OnInitialized()
    {
        HoverText = FileModel?.FileName ?? Localizer["filebadge_not_found"];
    }

    void RemoveFile()
    {
        EventHandler(FileModel?.Guid, EventArgs.Empty);
    }
    [Parameter]
    public EventHandler EventHandler { get; set; }
    [Parameter]
    public string Guid { get; set; }
    [Parameter]
    public AttachedFileModel? FileModel { get; set; }
    [Inject]
    private DatabaseContext _db { get; set; }

    protected override void OnParametersSet()
    {
        FileModel ??= _db.AttachedFiles.FirstOrDefault(s => s.Guid == Guid);
    }

    public static string FormatBytes(long? bytes = 0)
    {
        const long Kilobyte = 1024;
        const long Megabyte = Kilobyte * 1024;
        const long Gigabyte = Megabyte * 1024;

        if (bytes >= Gigabyte)
            return $"{bytes / Gigabyte} GB";
        if (bytes >= Megabyte)
            return $"{bytes / Megabyte} MB";
        if (bytes >= Kilobyte)
            return $"{bytes / Kilobyte} KB";

        return $"{bytes} B";
    }
}