@using System.Web 
@{
    var q = HttpUtility.ParseQueryString(new Uri(Navigation.Uri).Query);
}
@code
{
    private string _name;
}
<div class="login-box" style="width: 100%">
    <form method="post" id="login_form" action="/api/auth/register">
        <label for="username"><b>Username</b></label>
        <input type="text" id="username" name="username" @bind="_name">

        <label for="email"><b>E-Mail</b></label>
        <input type="email" id="email" name="email">

        <label for="shown_name">Shown Name</label>
        <input type="text" id="shown_name" name="shown_name" placeholder="@(_name)">

        <label for="password"><b>Password</b></label>
        <input type="password" id="password" name="password">

        <label for="repeat_password"><b>Repeat Password</b></label>
        <input type="password" id="repeat_password" name="repeat_password">

        @* captcha here *@

        <div class="actions">
            <button type="submit">Register</button>
        </div>
        <p id="login_error" style="color: red; text-align: center"></p>
    </form>
    <a href="@($"/login?redir={q["redir"]??"/"}")">Already have an Account?</a>
</div>
<script>post_login_form();</script>