<div class="login-box" style="width: 100%">
    <p>Введите адрес электронной почты от аккаунта ниже.</p>
    <form method="post" id="login_form" action="/api/auth/restore">
        <input type="email" id="email" name="email" style="width: 100%">

        <p id="login_error" style="color: red; text-align: center"></p>
        
        <div class="actions">
            <button type="submit" style="margin-top: 20px; margin-bottom: -30px; left: 100%; position: sticky">Restore Password</button>
        </div>
    </form>
</div>

<script>post_login_form();</script>