@page "/restore"
<div class="flex">
    <div class="center">
        <h3 class="center-text">
            Восстановить Пароль
        </h3>
        <div class="content" style="left: 50%">
            <RestorePasswordForm />
        </div>
    </div>
</div>
@code {

}
