.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
/* center class for add style in div */

.center {
    background-color: #ececec;
    width: fit-content;
    border-radius: 10px;
    border: 1px solid black;
}

.center-text {
    margin: 5px 10px 0;
    text-align: center;
}

.content {
    margin: 20px;
}

