@page "/test/math"
@@inherits MathJaxBlazor.MathJaxContentComponent
<h3>Math format test</h3>

TODO: MathJax is disabled. Fix!
<img src="/static/dev/mathjax_bug.png"/>

$$\left( \sum_{k=1}^n a_k b_k \right)^2 \leq \left( \sum_{k=1}^n a_k^2 \right) \left( \sum_{k=1}^n b_k^2 \right)$$

To split <span>$</span>100 in half, we calculate $$100/2$$
$$
\begin{equation}
\int_0^\infty \frac{x^3}{e^x-1}\,dx = \frac{\pi^4}{15}
\label{eq:sample}
\end{equation}
$$ 