@inherits IssueLayout
@inject IHttpContextAccessor HttpContext 
@{
    UserModel? user = null;
    bool admin = false;
    if (HttpContext.HttpContext != null)
    {
        if (HttpContext.HttpContext.Request.TryAuthenticate(out user))
            admin = (user.UserRank?.Rights ?? UserRights.None).HasFlag(UserRights.FullAdmin);
    }
}
<CascadingValue Value="this">
    <div class="page">
        <div style="background-image: none; min-width: 250px; background-color: #213a9c;" class="sidebar">
            <NavMenuIssue IsAdmin="admin" />
        </div>

        <main style="display: flex; flex-direction: column; height: 100vh; width: 0">
            <div class="top-row">
                <a href="/project/@ProjectCode">
                    <img src="bt_brand_transparent_placeholder.png" style="margin: 0; max-width: 100%; max-width: 100%; display: block" />
                </a>
                <div style="left: 100%; position: sticky">
                    <a href="/createIssue" class="btn-top">Создать Задачу</a>
                    @if (HttpContext.HttpContext != null && HttpContext.HttpContext.User.Identity!.IsAuthenticated)
                    {
                        <AccountBadge User="user" />
                        <!--<p style="text-align: center;font-size: small;margin-bottom: -10px;margin-top: 2px;">Logout</p>-->
                    }
                    else
                    {
                        <a href="/login?redir=/" class="btn-top">Вход</a>
                        <a href="/register?redir=/" class="btn-top">Регистрация</a>
                    }
                </div>
            </div>
            <article style="flex-grow: 1; overflow: auto; padding-left: 0 !important; padding-right: 0 !important;">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>

<div id="blazor-error-ui">
    Unhandled error occured. Reload page to continue
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
