@page "/login"
<div class="flex">
    <div class="center">
        <h3 class="center-text">
            Войдите для продолжения
        </h3>
        <div class="content" style="left: 50%">
            <LoginForm />
        </div>
    </div>
</div>
@code {

}
