.no-projects-title {
    text-align: center;
    margin-top: 15vh;
}
.no-projects-description {
    text-align: center;
}

th {
    padding-left: 10px;
    height: 36px;
    font-size: 15px
}
.grayed {
    color: gray; 
    font-style: italic;
}
tr {
    border-bottom: 1px solid #c7c7c7;
    border-top: 1px solid #c7c7c7;
    border-collapse: collapse;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    object-fit: contain;
}

table {
    width: 100%;
    margin-bottom: 20px;
}
