@page "/register"

<div class="flex">
    <div class="center">
        <h3 class="center-text">
            Зарегайтесъ, пожалусто
            <img src="/Котик2.png" height="32px" width="32px" />
        </h3>
        <div class="content" style="left: 50%">
            <RegisterForm />
        </div>
    </div>
</div>
